{% extends 'base.html.twig' %}

{% block title %}Affichage quacks{% endblock %}

{% block body %}
    <h1>Liste des quacks</h1>
    <p><a href="{{ path('add_quack') }}">Ajouter un produit</a></p>
    <table>
        <thead>
        <th>Id</th>
        <th>Content</th>
        <th>Date</th>

        <th>delete</th>
        </thead>
        {% for quack in quacks %}
            <tbody>
            <th><a href="quack/{{ quack.id }}">#{{ quack.id }}</a></th>
            <td>{{ quack.content }} </td>
            <td>{{ quack.createdAt |date('Y-m-d') }}</td>
            <td><a href="remove-quack/{{ quack.id }}">dX</a></td>
            </tbody>
        {% endfor %}
    </table>
{% endblock %}